@model Student
@{
    ViewData["Title"] = "Создать Студента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row pb-2">
        <h3 class=" text-primary">Создать студента</h3>
    </div>


  <main>

    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <form method="post" class="needs-validation" novalidate="">
          <div class="row g-3">


            <div class="col-md-5">
              <select  ap-for="ParentId"  class="form-select" 
                <option selected="selected" disabled="disabled">*Выберите номер класса*</option>
                <option> Выберите родителя</option>
              </select>
            </div>


            <div class="col-md-4">
              <select  asp-for="Class"  class="form-select" 
              asp-items="ViewBag.ClassesSelectList">
                <option selected="selected" disabled="disabled">*Выберите класс*</option>
              </select>
            </div>
            
             <div class="col-md-5">
              <select  asp-for="ParentId" class="form-select" 
              asp-items="ViewBag.ParentsSelectList"> 
                <option selected="selected" disabled="disabled">*Выберите родителя*</option>
                </select>
            </div>

          </div>
          &nbsp;
          <button class="w-100 btn btn-primary btn-lg" type="submit">Создать</button>
          &nbsp;
          <a asp-controller="Student" asp-action="StudentList" class="w-100 btn btn-secondary btn-lg">Назад к классам</a>
        </form>
      </div>
    </div>
  </main>
